<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lixiaobing.widsdomfarmer.cdwisdomfarmer">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MonitoringCenter.MonitoringCenterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FacePage.FacePageActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UserCenter.UserCenterActivity"
            android:label="@string/title_activity_user_center"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <!--<activity-->
            <!--android:name=".MonitoringCenter.MonitoringCenterActivity"-->
            <!--android:label="@string/title_activity_monitoring_center"-->
            <!--android:theme="@style/AppTheme.NoActionBar"-->
            <!--android:screenOrientation="portrait"/>-->
        <activity
            android:name=".Device.DeviceActivity"
            android:label="@string/title_activity_device"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Trigger.TriggerActivity"
            android:label="@string/title_activity_trigger"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".FeedBack.FeedBackActivity"
            android:label="@string/title_activity_feed_back"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Explore.ExploreActivity"
            android:label="@string/title_activity_explore"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MonitoringCenter.MonitoringSensorsActivity"
            android:label="@string/title_activity_monitoring_sensors"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"></activity>

        <service android:name=".Service.SubscribService"/>
    </application>

</manifest>